<section id="login-page" class="rtl">
    <div class="container login-container">
        <form>

            <img src="images/logo.png" alt="logo" class="logo">

            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <div class="message"></div>
            </div>

            <div class="form-group">
                <input class="form-control" name="email" type="text" placeholder="ایمیل">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" type="password" placeholder="رمز عبور">
            </div>

            <p>حساب کاربری ندارید؟ <a href="register">ثبت نام کنید</a></p>

            <div class="login-btn"><button type="submit" class="btn btn-success">ورود</button></div>

        </form>
    </div>
    <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
</section>